<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dayly Report</title>

    <link rel="stylesheet" href="assets/vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/css/layui.css" />


    <style>
        .card-body {
            padding: 0 !important;
        }
    </style>

</head>

<body class="dark">

    <!-- begin::side menu -->
    <div class="side-menu">

        <div class='side-menu-body'>
            <ul>
                <li class="side-menu-divider">Navigation</li>

                <li>
                    <a href="home.html">

                        <span>Home</span>
                        <span class="badge bg-danger-gradient"></span>
                    </a>
                </li>

                <li>
                    <a href="anchorslist.html">

                        <span>Anchors List</span>
                        <span class="badge bg-danger-gradient"></span>
                    </a>
                </li>

                <li>
                    <a href="daylyreport.html" class="active">
                        <span>Dayly Report</span>
                        <span class="badge bg-danger-gradient"></span>
                    </a>
                </li>





            </ul>
        </div>

        <div class="lastOne">
            <div onclick="exitLogin()">Exit Login</div>
        </div>

    </div>
    <!-- end::side menu -->



    <!-- begin::main content -->
    <main class="main-content">

        <div class="container-fluid">

            <div class="page-header between">
                <h4>Dayly Report</h4>

                <li class="nav-item d-lg-none d-sm-block">
                    <a href="#" class="nav-link side-menu-open">
                        <i>Meue</i>
                    </a>
                </li>
            </div>


            <div class="card" style="background-color: rgb(24, 27, 46);">
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table">
                            <thead style="background-color: rgb(44, 47, 66);">
                                <tr class="tableheader">
                                    <th scope="col">Date</th>
                                    <th scope="col">Online anchors</th>
                                    <th scope="col">Banned anchors</th>
                                    <th scope="col">anchors revenue</th>
                                    <th scope="col">Received call</th>
                                    <th scope="col">Miss call</th>
                                    <th scope="col">Average pickup time</th>
                                    <th scope="col">Answer rate(%)</th>
                                    <th scope="col">Anchor's withdrawal</th>
                                    <th scope="col">Withdrawal amount($)</th>
                                    <th scope="col">Commission($)</th>

                                </tr>
                            </thead>

                            <tbody id="itemsList">
                                
                                <script type="text/html" id="tp_item">
                                    {{each $data model i}}
                                
                                    <tr>
                                        <td>{{timeRender(model.DayTime)}}</td>
                                        <td>{{model.OnlineNumber}}</td>
                                        <td>{{model.DisabledNumber}}</td>
                                        <td>{{model.IncomeCoins}}</td>
                                        <td>{{model.CalledValidNumber}}</td>
                                        <td>{{model.MissCalledNumber}}</td>
                                        <td>{{model.AvgResponseTime}}</td>
                                        <td>{{model.AnswerRate}}</td>
                                        <td>{{model.WithdrawlUserNumber}}</td>
                                        <td>{{model.WithdrawlAmount}}</td>
                                        <td>{{model.CommissionAmount}}</td>
                                    </tr>
                                
                                
                                    {{/each}}
                                </script>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div id="page" class="center"></div>



        </div>

    </main>


    

    <!-- <script src="assets/vendors/bundle.js"></script> -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/art-template.js"></script>
    <script src="assets/js/api.js"></script>
    <script src="assets/js/layui.js"></script>



    <script>

        var ttCount = 0;

        window.onload = function () {

            search();
            configPageBar();
        }


        function configPageBar() {
            layui.use(function () {

                var laypage = layui.laypage;
                laypage.render({
                    elem: 'page',
                    first: "1",
                    limit: 10,
                    count: ttCount, // 数据总数
                    jump: function (obj, first) {

                        if (!first) {

                            let parm = {
                                Page: obj.curr,
                                Limit: obj.limit,
                            }

                            SLNetwork.POST('dailyReportList', parm, function (response) {

                                let arr = response.data.List
                                let count = response.data.Count;

                                $('#itemsList').html(template('tp_item', arr));

                            }, true);
                        }

                    }
                });

            });
        }


        function search() {

            let parm = {
                Page: 1,
                Limit: 10,
            }

            SLNetwork.POST('dailyReportList', parm, function (response) {

                let arr = response.data.List
                let count = response.data.Count;

                ttCount = count;

                configPageBar();

                $('#itemsList').html(template('tp_item', arr));

            }, true);


        }


        template.defaults.imports.timeRender = function(seconds) {
			var date = new Date(seconds * 1000);  // milliseconds 为毫秒
            let Y = date.getFullYear() + '-';
            let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            let D = date.getDate() + ' ';

            let time = Y+M+D;
            return time;
		}

    </script>



    


</body>

</html>